In [34]:
import pandas as pd

# Load the CSV file
file_path = "Reports/Direct_Attempt/Check_Report.csv"
df = pd.read_csv(file_path)

# Combine Day and Part to a single 'Day-Part' column
df["Day-Part"] = df["Day"].astype(str) + "-" + df["Part"].str.extract(r'(\d+)')[0]

# Drop day 25 part 2
df = df[~((df["Day"] == 25) & (df["Part"] == "Part 2"))]


# Display the first few rows of the dataframe
df.head(20)

,Day,Part,Language,Attempt,Output,Expected Output,Status,Error Message,Execution Time (s),Date/Time,Day-Part
0,1,Part 1,C,initial_attempt,1646452,1646452,CORRECT,NaN,0.111,2025-05-12 10:39:17,1-1
1,1,Part 2,C,initial_attempt,23609874,23609874,CORRECT,NaN,0.064,2025-05-12 10:39:17,1-2
2,1,Part 1,Python,initial_attempt,1646452,1646452,CORRECT,NaN,0.008,2025-05-12 10:39:17,1-1
3,1,Part 2,Python,initial_attempt,23609874,23609874,CORRECT,NaN,0.008,2025-05-12 10:39:17,1-2
4,1,Part 1,Clojure,initial_attempt,1646452,1646452,CORRECT,NaN,1.665,2025-05-12 10:39:19,1-1
5,1,Part 2,Clojure,initial_attempt,23609874,23609874,CORRECT,NaN,0.525,2025-05-12 10:39:19,1-2
6,2,Part 1,C,initial_attempt,277,524,INCORRECT,NaN,0.069,2025-05-12 10:39:19,2-1
7,2,Part 2,C,initial_attempt,299,569,INCORRECT,NaN,0.060,2025-05-12 10:39:19,2-2
8,2,Part 1,Python,initial_attempt,524,524,CORRECT,NaN,0.008,2025-05-12 10:39:19,2-1
9,2,Part 2,Python,initial_attempt,569,569,CORRECT,NaN,0.010,2025-05-12 10:39:19,2-2
10,2,Part 1,Clojure,initial_attempt,524,524,CORRECT,NaN,0.566,2025-05-12 10:39:20,2-1
11,2,Part 2,Clojure,initial_attempt,569,569,CORRECT,NaN,0.595,2025-05-12 10:39:20,2-2
12,3,Part 1,C,initial_attempt,14100415,167650499,INCORRECT,NaN,0.068,2025-05-12 10:39:21,3-1
13,3,Part 2,C,initial_attempt,14100415,95846796,INCORRECT,NaN,0.064,2025-05-12 10:39:21,3-2
14,3,Part 1,Python,initial_attempt,167650499,167650499,CORRECT,NaN,0.010,2025-05-12 10:39:21,3-1
15,3,Part 2,Python,initial_attempt,95846796,95846796,CORRECT,NaN,0.011,2025-05-12 10:39:21,3-2
16,3,Part 1,Clojure,initial_attempt,167650499,167650499,CORRECT,NaN,0.546,2025-05-12 10:39:21,3-1
17,3,Part 2,Clojure,initial_attempt,NaN,95846796,ERROR,Syntax error reading source at (output_03b.clj...,0.575,2025-05-12 10:39:22,3-2
18,4,Part 1,C,initial_attempt,NaN,2464,RUNTIME_ERROR,*** stack smashing detected ***: terminated,0.069,2025-05-12 10:39:22,4-1
19,4,Part 2,C,initial_attempt,NaN,1982,RUNTIME_ERROR,*** stack smashing detected ***: terminated,0.065,2025-05-12 10:39:22,4-2

In [35]:
clojure_rows = df[(df["Language"] == "Clojure") & (df["Status"] == "CORRECT")]
clojure_rows = clojure_rows[["Day-Part", "Language", "Status"]]
clojure_rows

    Day-Part Language   Status
4        1-1  Clojure  CORRECT
5        1-2  Clojure  CORRECT
10       2-1  Clojure  CORRECT
11       2-2  Clojure  CORRECT
16       3-1  Clojure  CORRECT
22       4-1  Clojure  CORRECT
23       4-2  Clojure  CORRECT
28       5-1  Clojure  CORRECT
29       5-2  Clojure  CORRECT
34       6-1  Clojure  CORRECT
40       7-1  Clojure  CORRECT
41       7-2  Clojure  CORRECT
58      10-1  Clojure  CORRECT
59      10-2  Clojure  CORRECT
106     18-1  Clojure  CORRECT
107     18-2  Clojure  CORRECT
112     19-1  Clojure  CORRECT
113     19-2  Clojure  CORRECT
130     22-1  Clojure  CORRECT

In [36]:
python_rows = df[(df["Language"] == "Python") & (df["Status"] == "CORRECT")]
python_rows = python_rows[["Day-Part", "Language", "Status"]]
python_rows

    Day-Part Language   Status
2        1-1   Python  CORRECT
3        1-2   Python  CORRECT
8        2-1   Python  CORRECT
9        2-2   Python  CORRECT
14       3-1   Python  CORRECT
15       3-2   Python  CORRECT
20       4-1   Python  CORRECT
21       4-2   Python  CORRECT
26       5-1   Python  CORRECT
27       5-2   Python  CORRECT
32       6-1   Python  CORRECT
33       6-2   Python  CORRECT
38       7-1   Python  CORRECT
39       7-2   Python  CORRECT
44       8-1   Python  CORRECT
45       8-2   Python  CORRECT
51       9-2   Python  CORRECT
56      10-1   Python  CORRECT
57      10-2   Python  CORRECT
62      11-1   Python  CORRECT
63      11-2   Python  CORRECT
68      12-1   Python  CORRECT
74      13-1   Python  CORRECT
80      14-1   Python  CORRECT
92      16-1   Python  CORRECT
98      17-1   Python  CORRECT
104     18-1   Python  CORRECT
105     18-2   Python  CORRECT
110     19-1   Python  CORRECT
111     19-2   Python  CORRECT
128     22-1   Python  CORRECT
134     23-1   Python  CORRECT
135     23-2   Python  CORRECT
140     24-1   Python  CORRECT

In [ ]:
import os

def generate_files_for_correct_entries(base_dir, correct_entries, template_path, source_lang_dir, source_lang, target_lang):
    prompts_dir = os.path.join(base_dir, "prompts")
    output_dir = os.path.join(base_dir, "output")

    os.makedirs(prompts_dir, exist_ok=True)
    os.makedirs(output_dir, exist_ok=True)

    with open(template_path, "r", encoding="utf-8") as template_file:
        template = template_file.read()

    for _, row in correct_entries.iterrows():
        day_part = row["Day-Part"]
        day, part = day_part.split("-")
        part = 'a' if part == '1' else 'b'

        source_file = os.path.join(source_lang_dir, f"output_{int(day):02}{part}.{source_lang}")

        if not os.path.exists(source_file):
            print(f"Source file does not exist: {source_file}")  # Debug statement
            continue

        with open(source_file, "r", encoding="utf-8") as source_code_file:
            source_code = source_code_file.read()

        if source_lang == "clj":
            prompt_content = template.replace("{Clojure_code}", source_code)
        if source_lang == "py":
            prompt_content = template.replace("{Python_code}", source_code)

        prompt_file = os.path.join(prompts_dir, f"prompt_{int(day):02}{part}.txt")
        output_file = os.path.join(output_dir, f"output_{int(day):02}{part}.{target_lang}")

        with open(prompt_file, "w", encoding="utf-8") as f:
            f.write(prompt_content)

        with open(output_file, "w", encoding="utf-8") as f:
            f.write("")

In [ ]:
# Filter correct entries
correct_entries = clojure_rows[(clojure_rows["Status"] == "CORRECT")]

# Generate files for correct entries
base_dir = "/home/scriptie/Scriptie/ChatGPT/trans_test/clojure_to_python"
template_path = "/home/scriptie/Scriptie/ChatGPT/trans_test/clojure_to_python/prompt_template.txt"
source_lang_dir = "/home/scriptie/Scriptie/ChatGPT/Direct_Attempt/clojure/output"
source_lang = "clj"
target_lang = "py"
generate_files_for_correct_entries(base_dir, correct_entries, template_path, source_lang_dir, source_lang, target_lang)

In [31]:
# Filter correct entries
correct_entries = clojure_rows[(clojure_rows["Status"] == "CORRECT")]

# Generate files for correct entries
base_dir = "/home/scriptie/Scriptie/ChatGPT/trans_test/clojure_to_c"
template_path = "/home/scriptie/Scriptie/ChatGPT/trans_test/clojure_to_c/prompt_template.txt"
source_lang_dir = "/home/scriptie/Scriptie/ChatGPT/Direct_Attempt/clojure/output"
source_lang = "clj"
target_lang = "c"
generate_files_for_correct_entries(base_dir, correct_entries, template_path, source_lang_dir, source_lang, target_lang)

In [40]:
# Filter correct entries
correct_entries = python_rows[(python_rows["Status"] == "CORRECT")]

# Generate files for correct entries
base_dir = "/home/scriptie/Scriptie/ChatGPT/trans_test/python_to_c"
template_path = "/home/scriptie/Scriptie/ChatGPT/trans_test/python_to_c/prompt_template.txt"
source_lang_dir = "/home/scriptie/Scriptie/ChatGPT/Direct_Attempt/python/output"
source_lang = "py"
target_lang = "c"
generate_files_for_correct_entries(base_dir, correct_entries, template_path, source_lang_dir, source_lang, target_lang)

In [41]:
# Filter correct entries
correct_entries = python_rows[(python_rows["Status"] == "CORRECT")]

# Generate files for correct entries
base_dir = "/home/scriptie/Scriptie/ChatGPT/trans_test/python_to_clojure"
template_path = "/home/scriptie/Scriptie/ChatGPT/trans_test/python_to_clojure/prompt_template.txt"
source_lang_dir = "/home/scriptie/Scriptie/ChatGPT/Direct_Attempt/python/output"
source_lang = "py"
target_lang = "clj"
generate_files_for_correct_entries(base_dir, correct_entries, template_path, source_lang_dir, source_lang, target_lang)