In [6]:
import pandas as pd

# Load the CSV file
file_path = "/home/scriptie/Scriptie/reports/direct_attempt.csv"
df = pd.read_csv(file_path)

# Combine Day and Part to a single 'Day-Part' column
df["Day-Part"] = df["Day"].astype(str) + "-" + df["Part"].astype(str).str.extract(r'(\d+)')[0]

# Drop day 25 part 2
df = df[~((df["Day"] == 25) & (df["Part"] == "Part 2"))]


# Display the first few rows of the dataframe
df.head(20)

,Day,Part,Language,Attempt,Output,Expected Output,Status,Error Message,Execution Time (s),Date/Time,Day-Part
0,1,1,python,Direct_Attempt,1646452,1646452,CORRECT,NaN,0.007,2025-05-12 20:46:50,1-1
1,1,2,python,Direct_Attempt,23609874,23609874,CORRECT,NaN,0.008,2025-05-12 20:46:50,1-2
2,2,1,python,Direct_Attempt,524,524,CORRECT,NaN,0.008,2025-05-12 20:46:50,2-1
3,2,2,python,Direct_Attempt,569,569,CORRECT,NaN,0.010,2025-05-12 20:46:50,2-2
4,3,1,python,Direct_Attempt,167650499,167650499,CORRECT,NaN,0.011,2025-05-12 20:46:50,3-1
5,3,2,python,Direct_Attempt,95846796,95846796,CORRECT,NaN,0.011,2025-05-12 20:46:50,3-2
6,4,1,python,Direct_Attempt,2464,2464,CORRECT,NaN,0.051,2025-05-12 20:46:51,4-1
7,4,2,python,Direct_Attempt,1982,1982,CORRECT,NaN,0.035,2025-05-12 20:46:51,4-2
8,5,1,python,Direct_Attempt,5391,5391,CORRECT,NaN,0.012,2025-05-12 20:46:51,5-1
9,5,2,python,Direct_Attempt,6142,6142,CORRECT,NaN,0.028,2025-05-12 20:46:51,5-2
10,6,1,python,Direct_Attempt,5312,5312,CORRECT,NaN,0.009,2025-05-12 20:46:51,6-1
11,6,2,python,Direct_Attempt,1748,1748,CORRECT,NaN,20.613,2025-05-12 20:47:11,6-2
12,7,1,python,Direct_Attempt,3351424677624,3351424677624,CORRECT,NaN,0.101,2025-05-12 20:47:11,7-1
13,7,2,python,Direct_Attempt,204976636995111,204976636995111,CORRECT,NaN,10.847,2025-05-12 20:47:22,7-2
14,8,1,python,Direct_Attempt,367,367,CORRECT,NaN,0.008,2025-05-12 20:47:22,8-1
15,8,2,python,Direct_Attempt,1285,1285,CORRECT,NaN,0.008,2025-05-12 20:47:22,8-2
16,9,1,python,Direct_Attempt,8265157818076,6279058075753,INCORRECT,NaN,30.738,2025-05-12 20:47:53,9-1
17,9,2,python,Direct_Attempt,6301361958738,6301361958738,CORRECT,NaN,19.177,2025-05-12 20:48:12,9-2
18,10,1,python,Direct_Attempt,459,459,CORRECT,NaN,0.009,2025-05-12 20:48:12,10-1
19,10,2,python,Direct_Attempt,1034,1034,CORRECT,NaN,0.011,2025-05-12 20:48:12,10-2

In [8]:
clojure_rows = df[(df["Language"] == "clojure") & (df["Status"] != "CORRECT")]
clojure_rows = clojure_rows[["Day-Part", "Language", "Status"]]
clojure_rows

    Day-Part Language     Status
103      3-2  clojure      ERROR
109      6-2  clojure  INCORRECT
112      8-1  clojure  INCORRECT
113      8-2  clojure  INCORRECT
114      9-1  clojure      ERROR
115      9-2  clojure      ERROR
118     11-1  clojure      ERROR
119     11-2  clojure      ERROR
120     12-1  clojure      ERROR
121     12-2  clojure      ERROR
122     13-1  clojure      ERROR
123     13-2  clojure      ERROR
125     14-2  clojure  INCORRECT
126     15-1  clojure  INCORRECT
127     15-2  clojure  INCORRECT
128     16-1  clojure      ERROR
129     16-2  clojure      ERROR
130     17-1  clojure      ERROR
131     17-2  clojure      ERROR
136     20-1  clojure      ERROR
137     20-2  clojure      ERROR
138     21-1  clojure      ERROR
139     21-2  clojure      ERROR
141     22-2  clojure    TIMEOUT
142     23-1  clojure      ERROR
143     23-2  clojure    TIMEOUT
144     24-1  clojure    TIMEOUT
145     24-2  clojure      ERROR
146     25-1  clojure  INCORRECT

In [10]:
python_rows = df[(df["Language"] == "python") & (df["Status"] != "CORRECT")]
python_rows = python_rows[["Day-Part", "Language", "Status"]]
python_rows

   Day-Part Language     Status
16      9-1   python  INCORRECT
23     12-2   python  INCORRECT
25     13-2   python  INCORRECT
27     14-2   python  INCORRECT
28     15-1   python  INCORRECT
29     15-2   python  INCORRECT
31     16-2   python  INCORRECT
33     17-2   python    TIMEOUT
38     20-1   python    TIMEOUT
39     20-2   python    TIMEOUT
40     21-1   python  INCORRECT
41     21-2   python  INCORRECT
43     22-2   python    TIMEOUT
47     24-2   python    TIMEOUT
48     25-1   python  INCORRECT

In [11]:
c_rows = df[(df["Language"] == "c") & (df["Status"] != "CORRECT")]
c_rows = c_rows[["Day-Part", "Language", "Status"]]
c_rows

   Day-Part Language     Status
51      2-1        c  INCORRECT
52      2-2        c  INCORRECT
53      3-1        c  INCORRECT
54      3-2        c  INCORRECT
55      4-1        c      ERROR
56      4-2        c      ERROR
57      5-1        c  INCORRECT
58      5-2        c  INCORRECT
60      6-2        c  INCORRECT
61      7-1        c  INCORRECT
62      7-2        c  INCORRECT
63      8-1        c  INCORRECT
64      8-2        c  INCORRECT
65      9-1        c    TIMEOUT
66      9-2        c      ERROR
67     10-1        c  INCORRECT
68     10-2        c  INCORRECT
69     11-1        c      ERROR
70     11-2        c      ERROR
71     12-1        c      ERROR
72     12-2        c      ERROR
73     13-1        c      ERROR
74     13-2        c      ERROR
75     14-1        c  INCORRECT
76     14-2        c  INCORRECT
77     15-1        c    TIMEOUT
78     15-2        c    TIMEOUT
79     16-1        c      ERROR
80     16-2        c      ERROR
81     17-1        c    TIMEOUT
82     17-2        c    TIMEOUT
83     18-1        c      ERROR
84     18-2        c      ERROR
85     19-1        c      ERROR
86     19-2        c      ERROR
87     20-1        c      ERROR
88     20-2        c      ERROR
89     21-1        c  INCORRECT
90     21-2        c  INCORRECT
91     22-1        c  INCORRECT
92     22-2        c      ERROR
93     23-1        c      ERROR
94     23-2        c      ERROR
95     24-1        c      ERROR
96     24-2        c      ERROR
97     25-1        c  INCORRECT

In [ ]:
import os

def generate_files_for_correct_entries(base_dir, correct_entries, template_path, source_lang_dir, source_lang, target_lang):
    prompts_dir = os.path.join(base_dir, "prompts")
    output_dir = os.path.join(base_dir, "output")

    os.makedirs(prompts_dir, exist_ok=True)
    os.makedirs(output_dir, exist_ok=True)

    with open(template_path, "r", encoding="utf-8") as template_file:
        template = template_file.read()

    for _, row in correct_entries.iterrows():
        day_part = row["Day-Part"]
        day, part = day_part.split("-")
        part = 'a' if part == '1' else 'b'

        source_file = os.path.join(source_lang_dir, f"output_{int(day):02}{part}.{source_lang}")

        if not os.path.exists(source_file):
            print(f"Source file does not exist: {source_file}")  # Debug statement
            continue

        with open(source_file, "r", encoding="utf-8") as source_code_file:
            source_code = source_code_file.read()

        if source_lang == "clj":
            prompt_content = template.replace("{Clojure_code}", source_code)
        if source_lang == "py":
            prompt_content = template.replace("{Python_code}", source_code)

        prompt_file = os.path.join(prompts_dir, f"prompt_{int(day):02}{part}.txt")
        output_file = os.path.join(output_dir, f"output_{int(day):02}{part}.{target_lang}")

        with open(prompt_file, "w", encoding="utf-8") as f:
            f.write(prompt_content)

        with open(output_file, "w", encoding="utf-8") as f:
            f.write("")


def generate_hint_recovery(base_dir, incorrect_entries, template_path, source_lang, hint_dir, hint_lang):
    prompts_dir = os.path.join(base_dir, "prompts")
    output_dir = os.path.join(base_dir, "output")

    os.makedirs(prompts_dir, exist_ok=True)
    os.makedirs(output_dir, exist_ok=True)

In [ ]:
# Filter correct entries
correct_entries = clojure_rows[(clojure_rows["Status"] != "CORRECT")]

# Generate files for correct entries
base_dir = "/home/scriptie/Scriptie/ChatGPT/hint_recovery/clojure_rec_by_c"
template_path = "/home/scriptie/Scriptie/ChatGPT/trans_test/clojure_to_python/prompt_template.txt"
source_lang_dir = "/home/scriptie/Scriptie/ChatGPT/Direct_Attempt/clojure/output"
source_lang = "clj"
target_lang = "py"
generate_files_for_correct_entries(base_dir, correct_entries, template_path, source_lang_dir, source_lang, target_lang)

In [ ]:
# Filter correct entries
correct_entries = clojure_rows[(clojure_rows["Status"] != "CORRECT")]

# Generate files for correct entries
base_dir = "/home/scriptie/Scriptie/ChatGPT/trans_test/clojure_to_c"
template_path = "/home/scriptie/Scriptie/ChatGPT/trans_test/clojure_to_c/prompt_template.txt"
source_lang_dir = "/home/scriptie/Scriptie/ChatGPT/Direct_Attempt/clojure/output"
source_lang = "clj"
target_lang = "c"
generate_files_for_correct_entries(base_dir, correct_entries, template_path, source_lang_dir, source_lang, target_lang)

In [ ]:
# Filter correct entries
correct_entries = python_rows[(python_rows["Status"] != "CORRECT")]

# Generate files for correct entries
base_dir = "/home/scriptie/Scriptie/ChatGPT/trans_test/python_to_c"
template_path = "/home/scriptie/Scriptie/ChatGPT/trans_test/python_to_c/prompt_template.txt"
source_lang_dir = "/home/scriptie/Scriptie/ChatGPT/Direct_Attempt/python/output"
source_lang = "py"
target_lang = "c"
generate_files_for_correct_entries(base_dir, correct_entries, template_path, source_lang_dir, source_lang, target_lang)

In [42]:
# Filter correct entries
correct_entries = python_rows[(python_rows["Status"] == "CORRECT")]

# Generate files for correct entries
base_dir = "/home/scriptie/Scriptie/ChatGPT/trans_test/python_to_clojure"
template_path = "/home/scriptie/Scriptie/ChatGPT/trans_test/python_to_clojure/prompt_template.txt"
source_lang_dir = "/home/scriptie/Scriptie/ChatGPT/Direct_Attempt/python/output"
source_lang = "py"
target_lang = "clj"
generate_files_for_correct_entries(base_dir, correct_entries, template_path, source_lang_dir, source_lang, target_lang)